<!DOCTYPE html>
<html>
    <head>
        <title>Admin</title>
    </head>
    <body>
        <form action="admin/new" method="post">
            <h2>Title</h2>
            <input type="text" name="Title" value="@Model.Title" />
            <h2>Sub Title</h2>
            <input type="text" name="SubTitle" value="@Model.SubTitle" />
            <h2>Content</h2>
            <input type="text" name="Content" value="@Model.Content" />
            <input type="submit" value="Add post" />
        </form>
    </body>
</html>
